{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {% for post in posts %}
        {% include './post/proposal.html.twig' with {'post': post } only %}
    {% endfor %}
</div>
{% endblock %}
